<!-- START BANNER -->
<div id="banner" class="">
<h1 class="headline span_12_of_12" style="color:white;">INTEPRETER OF MALADIES</h1>
<div class="banner-meta"></div>
	<%= image_tag( 'kolkata.jpg', :class => "bg" )%>
<!-- Start Index-->
<div class="sub">
<h2 class="span_10_of_12"><i>...inspired by a Pulitzer Prize winning novel</i></h2>
<h2 class="index span_10_of_12"> A <a href="#movie venture"> MOVIE</a>, <%= link_to 'Cause'.upcase, '#'%>, & <%=link_to 'Movement'.upcase, '#'%></h2>
<!-- <ul class="span_8_of_12">
	<li><h2><%=link_to 'Movie'.upcase, '.about movie'%></h2></li>
	<li><h2><%=link_to 'Cause'.upcase, '.about movie'%></h2></li>
	<li><h2><%=link_to 'Movement'.upcase, '.about movie'%></h2></li>
</ul> -->
</div>
<!--End Index -->
	
</div>
<!-- END BANNER -->

<!-- The Movie -->
<div id="movie venture" class="panel">
	<div class="center span_12_of_12 ">
			<h3 class="about movie">The Movie</h3>
			<!-- clicking this scrolls to its section -->
			<p class="about">
				Letterpress Neutra lo-fi salvia, mustache brunch typewriter. Carles Odd Future cardigan nostrud. Truffaut officia asymmetrical quis, magna Carles twee McSweeney's Austin Vice pork belly. Ea 3 wolf moon enim tofu, non fugiat Etsy id iPhone Truffaut raw denim organic McSweeney's leggings accusamus. Beard ethical fashion axe farm-to-table, selvage incididunt fanny pack ad occupy dolore Godard. Mlkshk ullamco kogi vegan. Keffiyeh magna hoodie, Terry Richardson assumenda minim Carles aesthetic delectus.

				Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
			</p>	
<!-- 			<p style="text-align: right; margin-bottom:0;">
				Executive Prodcuers: Omar Amanat
				<br>
				Mike Medavoy
				<br>
				Producer: Arnold Messer
			</p>  -->
	</div>
	<div id="team">
		<ul class="center span_10_of_12">
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Producer: </p>
				<p>Arnold Messer (producer “Black Swan”, “Thin Red Line”, “Shutter Island”)</p>
			</span>
		</li>
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Exec Producer:</p>
				<p>Omar Amanat (financier Summit/Lionsgate”Twilight”, “Hunger Games”)</p>
			</span>
		</li>
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Executive Producer:</p>
				<p>Mike Medavoy (producer “Black Swan”, “Shutter Island”, “Zodiac”)</p>
			</span>
		</li>
	</ul>
</div>
<div id="social" class="span_12_of_12">
			<p class="iom-element" style= "text-align:right;">
				Find the newest updates on film production, on our <%= link_to"blog", "#" %>.
			</p>
</div>	

</div>
<!-- The Cause --> 
<div id="venture" class="panel">
	<div class="centered span_12_of_12 ">
		<h3 class="about">The Cause</h3>	
			<!-- clicking this scrolls to its section -->
			<p class="about">
				Global literacy-education and empowerment campaign based on the book and movie and a related world-wide network of celebrity hosted movie premiere gala benefit events and docu-series to raise funds for the cause.

				Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
			</p>	
		<div class="left span_6_of_12 ">
			<h3>Supporters</h3>
			<p>
				United Nations (U.N.-A, U.N. My World, U.N. Women)<br>
				Tata, Bharti-Airtel<br>
				Thermax<br>
				PVR, Mahindra <br>
				Vice Media<br>
				MTV World<br>
				10x10/The documentary group, HBO
			</p>
		</div>

		<div class="right span_6_of_12 ">
			<h3 style="text-align:right;">Board of Advisors</h3>
			<p style="text-align:right;">
			Anu Aga – Thermax industries<br>
			Omar Amanat - From <br>
			Suroosh Alvi – Vice Media<br>
			Nusrat Durrani – MTV World<br>						
			</p> 
		</div>
	</div>
	<div id="social" class="span_12_of_12">
			<p class="iom-element" style= "text-align:right;">
				Find the newest updates on the literacy campaign, on our <%= link_to"blog", "#" %>.
			</p>
</div>
</div>	
<!-- Social Media --> 

<!--START ENGAGEMENT -->
<div id="engagement" class="">
	<div class="engagement-content span_12_of_12">
		<h1>Make change happen</h1>
		<div id="social" class="center span_12_of_12">
			<span class="social-media"><a href="" class="">info@iomfilm.com</a></span>
			<span class="social-media"><a href="" class="">Twitter</a></span>
			<span class="social-media"><a href="" class="">Facebook</a></span>
			<span class="social-media"><a href="" class="">Google+</a></span>
		</div>
	</div>
	<div class="information span_12_of_12">
		<ul class=" span_10_of_12 center">
			<li class="info-box span_4_of_12">
				<p>123 Fake St.</p>
				<p>New York City, NY</p>
			</li>
			<li class="info-box span_4_of_12">
				<p>For media inquiries:</p>
				<p>press@iomfilm.com</p>
			</li>
			<li class="info-box span_4_of_12">
				<p>For general inquiries:</p>
				<p>contact@iomfilm.com</p>
			</li>
		</ul>
	</div>
</div>
<!--END ENGAGEMENT -->

