<!-- START BANNER -->
<div id="banner" class="">
	<span class="bar center span_1_of_12"></span>
	<div class="banner-text span_12_of_12">
		<h1 class="headline span_8_of_12">INTEPRETER OF MALADIES</h1>
		<h3 class="headline sub span_3_of_12">The Movie
			<p>this is the movie</p>
		</h3>
		<h3 class="headline sub span_3_of_12">The Cause
			<p>this is the cause</p>
		</h3>
		<h3 class="headline sub span_3_of_12">The Book
			<p>this is the book</p>
		</h3>
		
	</div>
	<div class="banner-meta"></div>
	<%= image_tag( 'kolkata.jpg', :class => "bg" )%>
</div>
<!-- END BANNER -->

<!--START VENTURE -->
<!-- <div id="venture" class="panel">
	<div class="title">
	</div>
	<div class="center span_10_of_12">
		<div class="about span_4_of_12 ">
			<h3 class="about">The Movie</h3>
			<p class="about">
				Letterpress Neutra lo-fi salvia, mustache brunch typewriter. Carles Odd Future cardigan nostrud. Truffaut officia asymmetrical quis, magna Carles twee McSweeney's Austin Vice pork belly. Ea 3 wolf moon enim tofu, non fugiat Etsy id iPhone Truffaut raw denim organic McSweeney's leggings accusamus. Beard ethical fashion axe farm-to-table, selvage incididunt fanny pack ad occupy dolore Godard. Mlkshk ullamco kogi vegan. Keffiyeh magna hoodie, Terry Richardson assumenda minim Carles aesthetic delectus.

				Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
			</p>	
		</div>
		<div class="about span_4_of_12 ">
			<h3 class="about">The Cause</h3>	
			<p class="about">
				Letterpress Neutra lo-fi salvia, mustache brunch typewriter. Carles Odd Future cardigan nostrud. Truffaut officia asymmetrical quis, magna Carles twee McSweeney's Austin Vice pork belly. Ea 3 wolf moon enim tofu, non fugiat Etsy id iPhone Truffaut raw denim organic McSweeney's leggings accusamus. Beard ethical fashion axe farm-to-table, selvage incididunt fanny pack ad occupy dolore Godard. Mlkshk ullamco kogi vegan. Keffiyeh magna hoodie, Terry Richardson assumenda minim Carles aesthetic delectus.

				Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
			</p>	
		</div>	
		<div class="about span_4_of_12 ">
			<h3 class="about">The Book</h3>	
			<p class="about">
				<ul class="about-the-book span_12_of_12 center">
					<li class="book-box span_12_of_12">
						<p>-Winner of the Pulitzer Prize for fiction 2000, Hemingway, PEN awareds.</p>
						<p>-Best seller 29 countries, translated in 29 languages, est. 15M readership.</p>
					</li>
					<li class="book-box span_12_of_12">
						<p>-Required reading in US schools w/ "Color Purple", "To Kill A Mockingbird".</p>
						<p>-Required reading in schools in E.U., S. America, S.E. Asia, Middle-East.</p>
					</li>

					<li class="book-box span_12_of_12">
						<p>-Curriculum (short stories) for learning disabled students and programs.</p>
						<p>-Oprah top 10 book club, “One Book One Chicago”, a modern classic.</p>

					</li>
				</ul>
			</p>	
		</div>	
	</div>
</div> -->
<!-- END VENTURE -->






<!-- The Movie -->

<!--START MOVIE -->
<!-- <div id="movie" class="panel">
	<div class="span_10_of_12 center">
		<ul class="about-the-movie movie-box span_6_of_12">
			<li>
				<h3 class="movie-box span_4_of_12">The Movie</h3>
			</li>
			<li class="movie-box span_6_of_12">
				<p>Based on 3 interwoven stories from the book set around a 3 day blackout in Boston and daily power-outtages in Bengal, India (a’la “The Hours”, “Babel”, etc.).</p>
			</li>
			<li class="movie-box span_6_of_12">
				<p>-A Temporary Matter</p>
				<p>-This Blessed House</p>
				<p>-Interpreter of Maladies</p>
			</li>
		</ul>
		<ul class="about-the-movie movie-box span_6_of_12">
			<li class="">
				<h3 class="">The Story</h3>
			</li>
			<li class="span_12_of_12">
				<p>Mr. Siddharth Kapasi is a man of the world who speaks 20 languages but has  never left his birth city of Kolkata, India, where he now works as a foreign tourist guide and an interpreter for an American foreign aide doctor.  Our story is about Mr. Kapai first journey out of Kolkata and how his life relates to three young couples from Boston, MA, one of whom he is driving to the sun temple world heritage sight in Konark India during the 3 days of power-outtages and blackouts in Boston.</p>
			</li> 
		</ul>
	</div>
	
</div> -->
<!--END MOVIE -->

<div id="venture" class="panel">
  <div class="movie  span_6_of_12 ">
      <h3 class="about movie">The Movie</h3>
			<li class="about">
				<p>Based on 3 interwoven stories from the book set around a 3 day blackout in Boston and daily power-outtages in Bengal, India (a’la “The Hours”, “Babel”, etc.).</p>
			</li>
			<li class="about">
				<p>-A Temporary Matter</p>
				<p>-This Blessed House</p>
				<p>-Interpreter of Maladies</p>
			</li>
  </div>
  <div class="movie  center span_6_of_12 ">
      <h3 class="about movie">The Story</h3>
      <!-- clicking this scrolls to its section -->
      <p class="about">
        Mr. Siddharth Kapasi is a man of the world who speaks 20 languages but has  never left his birth city of Kolkata, India, where he now works as a foreign tourist guide and an interpreter for an American foreign aide doctor.  Our story is about Mr. Kapai first journey out of Kolkata and how his life relates to three young couples from Boston, MA, one of whom he is driving to the sun temple world heritage sight in Konark India during the 3 days of power-outtages and blackouts in Boston.
      </p>  
  </div>
  <div id="team">
    <ul class="center span_10_of_12">
    <li class="bio span_4_of_12">
      <span class="bio span_4_of_12">
        <%= image_tag( 'kolkata-square.jpg', :class => "headshot" )%>
      </span>
      <span class="bio span_6_of_12">
        <!-- <p>Producer: </p> -->
        <p>Arnold Messer (producer “Black Swan”, “Thin Red Line”, “Shutter Island”)</p>
      </span>
    </li>
    <li class="bio span_4_of_12">
      <span class="bio span_4_of_12">
        <%= image_tag( 'kolkata-square.jpg', :class => "headshot" )%>
      </span>
      <span class="bio span_6_of_12">
        <!-- <p>Exec Producer:</p> -->
        <p>Omar Amanat (financier Summit/Lionsgate”Twilight”, “Hunger Games”)</p>
      </span>
    </li>
    <li class="bio span_4_of_12">
      <span class="bio span_4_of_12">
        <%= image_tag( 'kolkata-square.jpg', :class => "headshot" )%>
      </span>
      <span class="bio span_6_of_12">
        <!-- <p>Executive Producer:</p> -->
        <p>Mike Medavoy (producer “Black Swan”, “Shutter Island”, “Zodiac”)</p>
      </span>
    </li>
  </ul>
</div>

</div>
<!-- The Cause --> 
<div id="venture" class="panel">
  <div class="centered span_12_of_12 ">
    <h3 class="about">The Cause</h3>  
      <!-- clicking this scrolls to its section -->
      <p class="about span_8_of_12">
        Global literacy-education and empowerment campaign based on the book and movie and a related world-wide network of celebrity hosted movie premiere gala benefit events and docu-series to raise funds for the cause.

        Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
      </p>  
    <div class="left span_6_of_12">
    	<h3>Board of Advisors</h3>
      <p>
      Anu Aga – Thermax industries<br>
      Omar Amanat - From <br>
      Suroosh Alvi – Vice Media<br>
      Nusrat Durrani – MTV World<br>            
      </p> 

    </div>

    <div class="right span_6_of_12">
    	<h3>Supporters</h3>
		  <p>
		    United Nations<br>
		    Tata, Bharti-Airtel<br>
		    Thermax<br>
		    PVR, Mahindra <br>
		    Vice Media<br>
		    MTV World<br>
		    10x10/The documentary group, HBO
		  </p>
 
    </div>
  </div>
  <div id="social" class="blog span_12_of_12">
    <p class="iom-element">
      Find the newest updates on the literacy campaign, on our <%= link_to"blog", "#" %>.
    </p>
	</div>
</div>  
<!-- Social Media --> 


<!-- The Cause --> 
<div id="venture" class="panel">
  <div class="centered span_12_of_12 ">
    <h3 class="about">The Book</h3>  
      <!-- clicking this scrolls to its section -->
      <p class="about span_8_of_12">
        Global literacy-education and empowerment campaign based on the book and movie and a related world-wide network of celebrity hosted movie premiere gala benefit events and docu-series to raise funds for the cause.

        Accusamus 8-bit tousled Portland Bushwick mlkshk keffiyeh, cliche ugh laboris. Hella nesciunt literally squid, consequat wolf seitan trust fund. Ad enim VHS, shoreditch Truffaut dolore Williamsburg. Consectetur tofu deserunt, blue bottle bitters fashion axe vegan irony cupidatat freegan photo booth small batch asymmetrical Tonx mustache. Fugiat blue bottle Wes Anderson, qui iPhone craft beer beard yr ethical literally keffiyeh cupidatat sint. Cliche PBR non tofu. Literally semiotics Echo Park Portland cardigan banjo you probably haven't heard of them, duis salvia cred kale chips aute.
      </p>  
    <!-- <div class="left span_6_of_12">
    	<h3>Board of Advisors</h3>
      <p>
      Anu Aga – Thermax industries<br>
      Omar Amanat - From <br>
      Suroosh Alvi – Vice Media<br>
      Nusrat Durrani – MTV World<br>            
      </p> 

    </div>

    <div class="right span_6_of_12">
    	<h3>Supporters</h3>
		  <p>
		    United Nations<br>
		    Tata, Bharti-Airtel<br>
		    Thermax<br>
		    PVR, Mahindra <br>
		    Vice Media<br>
		    MTV World<br>
		    10x10/The documentary group, HBO
		  </p>
 
    </div> -->
  </div>
</div>  
<!-- Social Media --> 

<!--START BOOK -->
<!-- <div id="book" class="panel">
</div> -->
<!--END BOOK -->

<!--START TEAM -->
<!-- <div id="team" class="panel">
	<ul class="center span_12_of_12">
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Arnold Messer (producer “Black Swan”, “Thin Red Line”, “Shutter Island”)</p>
			</span>
		</li>
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Omar Amanat (financier Summit/Lionsgate”Twilight”, “Hunger Games”)</p>
			</span>
		</li>
		<li class="bio span_4_of_12">
			<span class="bio span_4_of_12">
				<%= image_tag( 'kolkata.jpg', :class => "headshot" )%>
			</span>
			<span class="bio span_6_of_12">
				<p>Mike Medavoy (producer “Black Swan”, “Shutter Island”, “Zodiac”)</p>
			</span>
		</li>
	</ul>
</div> -->
<!--END TEAM -->

<!--START LITERACY -->
<!-- <div id="literacy" class="panel">
	GLOBAL LITERACY-education and empowerment CAMPAIGN based on the book and movie and a related world-wide network of celebrity hosted movie premiere gala benefit events and docu-series to raise funds for the cause.
</div> -->
<!--END LITERACY -->

<!--START SPONSORS -->
<!-- <div id="sponsors" class="panel">
	PARTNERSSPONSORS: SHOW LOGOS FOR ALL SPONSORS LISTED
	United Nations (U.N.-A, U.N. My World, U.N. Women), Tata, Bharti-Airtel, Thermax, PVR, Mahindra, Vice Media, MTV World, 10x10/The documentary group, HBO

	BOARD OF ADVISORS..THIS CAN KEEP GROWING
	Omar Amanat
	Suroosh Alvi – founder Vice Media
	Nusrat Durrani – head of MTV World
	Anu Aga – owner Thermax industries
</div> -->
<!--END SPONSORS -->

<!--START ENGAGEMENT -->
<div id="engagement" class="">
	<div class="engagement-content span_12_of_12">
		<%= image_tag( 'car.jpg', :class => "footer-bg" )%>
		<h2 class="engagement-title">build something with us</h2>
		<ul id="social" class="center">
			<li class="social-media"><a href="" class="email">info@iomfilm.com</a></li>
			<li class="social-media"><a href="" class=""><%= image_tag( 'twitter-white.png')%></a></li>
			<li class="social-media"><a href="" class=""><%= image_tag( 'fb-white.png')%></a></li>
			<li class="social-media"><a href="" class=""><%= image_tag( 'gplus-white.png')%></a></li>
		</ul>
		<ul id="social" class="center span_12_of_12">

			<li class="iom-element span_5_of_12">
				<p>The Film Venture:  <a href="">View Film</a></p>
			</li>
			<li class="iom-element span_5_of_12">
				<p>The Literacy Campaign: <a href="">View campaign</a></p>			
			</li>
		</ul
	</div>
	<div class="information span_12_of_12">
		<ul class="information span_10_of_12 center">
			<li class="info-box span_3_of_12">
				<p>123 Fake St.</p>
				<p>New York City, NY</p>
			</li>
			<li class="info-box span_3_of_12">
				<p>For media inquiries:</p>
				<p>press@iomfilm.com</p>
			</li>
			<li class="info-box span_3_of_12">
				<p>For general inquiries:</p>
				<p>contact@iomfilm.com</p>
			</li>
		</ul>
	</div>
</div>
<!--END ENGAGEMENT -->
