<div class="wrapper">
	<ul class= "header span_12_of_12">
		<li class="social-em"><%=link_to "INTERPRETOR OF MALADIES", root_path %></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-tumblr.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-twitter.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-youtube.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-googleplus.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-facebook.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li class="social-em"><%= link_to(image_tag("webicons/webicon-pinterest.png", :class => "social-icon"), "http://www.facebook.com")%></li>
	</ul>
	<div>
		<%= image_tag('home.jpg', :class => "span_12_of_12",) %>
	</div> 
	<div class ="footer span_12_of_12">
		<a href="http://www.google.com" class="nav span_3_of_12" style="background-color:green;"></a>
		<a class="nav span_3_of_12" style="background-color:blue;" ></a>
		<a class="nav span_3_of_12" style="background-color:red;" ></a>
		<a class="nav span_3_of_12" style="background-color:yellow;" ></a>
	</div>
</div>