<div id="header">

	<h1 id="title" class="span_6_of_12"><%=link_to "INTERPRETOR OF MALADIES", root_path, {:class => "title-text"}%></h1>


	<ul id="socialmedia" class="span_5_of_12">
		<li id="social"><%= link_to(image_tag("webicons/webicon-tumblr.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li id="social"><%= link_to(image_tag("webicons/webicon-twitter.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li id="social"><%= link_to(image_tag("webicons/webicon-youtube.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li id="social"><%= link_to(image_tag("webicons/webicon-googleplus.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li id="social"><%= link_to(image_tag("webicons/webicon-facebook.png", :class => "social-icon"), "http://www.facebook.com")%></li>
		<li id="social"><%= link_to(image_tag("webicons/webicon-pinterest.png", :class => "social-icon"), "http://www.facebook.com")%></li>
	</ul>
</div>
