<div class ="footer span_12_of_12" id="navigation">
	<table class="navigation">
		<tr>
			<td class="nav-em" id="nav-story"><%=link_to "Story", story_path, {:class => "nav-text"}%></td>
			<td class="nav-em" id="nav-cast"><%=link_to "Cast", cast_path, {:class => "nav-text"}%></td>
			<td class="nav-em" id="nav-content"><%=link_to "Content", content_path, {:class => "nav-text"}%></td>
			<td class="nav-em" id="nav-cause"><%=link_to "Cause", cause_path, {:class => "nav-text"}%></td>
			<td class="nav-em" id="nav-engage"><%=link_to "Engage", engage_path, {:class => "nav-text"}%></td>
		</tr>
	</table>
</div>
