<!DOCTYPE html>
<html>
  <head>
    
    <!-- Loads Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="http://www.google.com/jsapi" type="text/javascript"></script> 

    <!-- Loads Jquery -->
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>

    <!-- Stylesheets -->
    <%=  stylesheet_link_tag "application", :media => "all" %>
    <%=  stylesheet_link_tag "12cols", :media => "all" %>

    <!-- javascripts -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "story-toggle" %>
    <%= csrf_meta_tags %>

    <title>IOM FILM</title>

  </head>
  <body>
    <%= yield %>
    <!-- renders the social media -->
    <%= render :partial => "common/header"%>

    <!-- renders the navigation -->
    <%= render :partial => "common/navigation" %>
  </body>
</html>
